{% if site.google_analytics_ga4 %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_ga4 }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics_ga4 }}');
      </script>
      <script src="https://www.google.com/recaptcha/api.js?render=6LcIDdweAAAAADBzIQxefOW89FJVX1Ie3DcFhEEm"></script>
      <script>
          grecaptcha.ready(function () {
              grecaptcha.execute('6LcIDdweAAAAADBzIQxefOW89FJVX1Ie3DcFhEEm', {action: 'submit'}).then(function (token) {
                  console.info("got token: " + token);
                  document.getElementById('g-recaptcha-response').value = token;
              });
          });
      </script>      
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
{% endif %}
