
//
// CUSTOM
//

// PAGES

p {
  font-weight: 200;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
ul {
  li {
    font-weight: 200;
  }
}
hr {
  border: none;
  border-top: 1px solid #e0e0e0;
}
#index {
  h1 {
    display: none;
  }
  h3 {
    text-align: left;
    &#highly-successful-and-driven-technical-professional-with-over-15-year-history-of-managing-projects-and-launching-applications-proven-to-grow-businesses-and-increase-outreach {
      text-align: center !important;
      margin: 4rem 0;
    }
  }
}
#experience {
  h1 {
    line-height: 4;
    font-weight: 400;
  }
  h2, h3, h4, h5, h6 {
    text-align: left;
  }
  h5 {
    font-size: 1rem;
  }
  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  #professional-development {
    line-height: 4;
  }
  #professional-development,
  #graphic-design,
  #universidad-del-pacifico-santiago-chile,
  #ecmascript-6-course,
  #linkedin-learning,
  #typescript-course,
  #linkedin-learning-1 {
    text-align: center;
  }
}
.footer {
  a {
    margin: 10px 4px 0 4px;
    display: inline-block;
  }
}
#contact {
  form {
    input,
    textarea,
    button {
      color: #000;
      background-color: rgba(0, 0, 0, 0.1);
      border-style: hidden;
      border-width: 0;
      border-radius: 3px;
      transition: color 0.2s, background-color 0.2s, border-color 0.2s;
      font-weight: 200;
      &:hover {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.2);
      }
      &::placeholder {
        color: rgba(0, 0, 0, 0.4);
      }
      &:focus-visible {
        outline: 0 hidden transparent;
      }
    }
    input {
      width: 48%;
      margin: 0;
      &:first-child {
        margin: 0 3% 0 0;
      }
    }
    textarea {
      display: block;
      width: 99.5%;
      margin: 30px 0 30px 0;
    }
    button {
      width: 99.5%;
      margin-right: auto;
      margin-left: auto;
      border-radius: 3px;
      border: none;
      height: 40px;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
header.masthead {
  padding-bottom: 10px;
  a.site-avatar {
    height: 105px;
    width: 105px;
    img {
      border-radius: 3px;
    }
  }
  .site-info {
    h1 {
      line-height: 1;

    }
    p { margin-top: 5px; }
  }
  nav {
    font-size: 16px;
  }
}