
//
// CUSTOM
//

body {
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

// PAGES

p {
  font-weight: 200;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
ul {
  li {
    font-weight: 200;
  }
}
hr {
  border: none;
  border-top: 1px solid #e0e0e0;
}
#index {
  h1 {
    display: none;
  }
  h3 {
    text-align: left;
    &#highly-successful-and-driven-technical-professional-with-over-15-year-history-of-managing-projects-and-launching-applications-proven-to-grow-businesses-and-increase-outreach {
      text-align: center !important;
      margin: 4rem 0;
    }
  }
  ul {
    &:first-of-type {
      list-style: none;
      margin-left: auto;
      margin-right: auto;
      width: 300px;
      margin-top: 40px;
    }
  }
}
#experience {
  h1 {
    line-height: 4;
    font-weight: 400;
  }
  h2, h3, h4, h5, h6 {
    text-align: left;
  }
  h5 {
    font-size: 1rem;
  }
  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  #professional-development {
    line-height: 4;
  }
  #professional-development,
  #graphic-design,
  #universidad-del-pacifico-santiago-chile,
  #ecmascript-6-course,
  #linkedin-learning,
  #typescript-course,
  #linkedin-learning-1 {
    text-align: center;
  }
}
.footer {
  a {
    margin: 10px 4px 0 4px;
    display: inline-block;
  }
}
#contact {
  h1 {
    line-height: 4;
    font-weight: 400;
  }
  form {
    input,
    textarea,
    button {
      color: #000;
      background-color: rgba(0, 0, 0, 0.1);
      border-style: hidden;
      border-width: 0;
      border-radius: 3px;
      transition: color 0.2s, background-color 0.2s, border-color 0.2s;
      font-weight: 300;
      padding: 16px;
      &:focus,
      &:active {
        outline: none;
      }
      &:hover {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.2);
      }
      &::placeholder {
        color: rgba(0, 0, 0, 0.4);
      }
      &:focus-visible {
        outline: 0 hidden transparent;
      }
    }
    input {
      width: 48%;
      margin: 0;
      &:first-child {
        margin: 0 3% 0 0;
      }
    }
    textarea {
      display: block;
      width: 99.5%;
      margin: 30px 0 30px 0;
    }
    button {
      width: 99.5%;
      margin-right: auto;
      margin-left: auto;
      border-radius: 3px;
      border: none;
      color: rgba(0, 0, 0, 0.65);
      background-color: rgba(0, 0, 0, 0.25);
      cursor: pointer;
      &:hover {
        background-color: rgba(0, 0, 0, 0.35);
      }
    }
  }
  #contactWrapper {
    display: flex;
    flex-flow: row;
    > .contactMethod {
      flex: 1 1 auto;
      margin: 0 0 45px 0;
      padding: 0;
      text-align: center;
      a { color: #404040 }
      &:first-child {
        border-right: 1px solid #eeeeee;
      }
    }
  }
  #googleMap {
    position: relative;
    overflow: hidden;
    height: 300px;
    margin-right: 5px;
    margin-top: 45px;
  }
}
#nav {
  .wrapper-main {
    padding-top: 130px;
  }
  .wrapper-masthead {
    .container {
      background: white;
      position: fixed;
      top: 7px;
      left: calc(50vw - 740px);
      right: calc(50vw - 740px);
      transition: all 0.5s ease;
      header.masthead {
        padding-top: 24px;
        padding-bottom: 12px;
        transition: all 0.5s ease;
        a.site-avatar {
          height: 115px;
          width: 115px;
          margin-right: 20px;
          transition: all 0.25s ease;
          img {
            border-radius: 3px;
          }
        }
        .site-info {
          h1 {
            line-height: 1;
            transition: all 0.5s ease;
          }
          p {
            margin-top: 0;
            font-weight: 300;
            transition: all 0.5s ease;
          }
        }
        nav {
          font-size: 16px;
          margin-top: 40px;
          transition: all 0.5s ease;
          .active {
            color: #000;
            font-weight: 400;
          }
        }
      }
    }
  }
}
#nav.scroll {
  .wrapper-masthead {
    .container {
      header.masthead {
        padding-top: 12px;
        padding-bottom: 12px;
        a.site-avatar {
          width: 0;
          height: 0;
          margin: 0 auto 0 auto;
          right: auto;
          left: auto;
        }
        .site-info {
          h1 {
            font-size: 0.8;
          }
          p {
            display: none;
          }
        }
        nav {
          font-size: 14px;
          margin-top: 4px;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  #nav {
    .wrapper-main {
      padding-top: 250px;
    }
    .wrapper-masthead {
      .container {
        header.masthead {
          a.site-avatar {
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 15px;
          }
          nav {
            margin-top: 18px;
            margin-bottom: 6px;
            a {
              color: #333;
            }
          }
        }
      }
      &.scroll {
        .wrapper-masthead {
          .container {
            header.masthead {
              nav {
                margin-top: 12px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 465px) {
  #contact {
    form {
      input {
        width: 99.5%;
        &:first-child {
          margin-bottom: 30px;
        }
      }
    }
    #contactWrapper {
      flex-flow: column;
      > .contactMethod {
        margin: 0;
        padding: 20px 0 30px 0;
        &:first-child {
          border-bottom: 1px solid #eeeeee;
          border-right: 0 hidden transparent;
        }
      }
    }
  }
}
