---
---

@import "{{ site.theme }}";

body { position: relative; }

.page-header {
  background-color: #3135a1;
  background-image: linear-gradient(120deg, #007e8b, #3135a1);
  
  ul {
    list-style: none;
    padding: 0;
    font-size: 0.9rem;
    
    li {
      display: inline;
      
      a {
        color: rgba(255,255,255,0.7);
      }
    }
  }
}

.main-content {
  a {
    color: #006f8b;
  }
  h5 {
    margin: 0;
  }
}

.site-footer {
  padding-top: 3rem;
  padding-bottom: 1rem;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  background-color: #3135a1;
  background-image: linear-gradient(120deg, #3135a1, #007e8b);

  form {
    input, textarea {
      padding: 0.75rem 1rem;
      width: 18rem;
      color: rgba(255, 255, 255, 0.7);
      background-color: rgba(255, 255, 255, 0.08);
      border-color: rgba(255, 255, 255, 0.2);
      border-style: solid;
      border-width: 1px;
      border-radius: 0.3rem;
      transition: color 0.2s, background-color 0.2s, border-color 0.2s;

      &:hover {
        color: rgba(255, 255, 255, 0.8);
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.2);
        border-color: rgba(255, 255, 255, 0.3);
      }
      
      &::placeholder {
        color: rgba(255, 255, 255, 0.7);
      }
      
      &:focus-visible {
        outline: 0 hidden transparent;
      }
    }
    
    input {
      width: 18rem;
      margin: 0 0.5rem 1rem 0.5rem;
    }
    
    textarea {
      display: block;
      width: 37.4rem;
      margin: 0 auto 1rem auto;
    }
    
    button {
      width: 37.4rem;
      margin-right: auto;
      margin-left: auto;
    }
  }
  
  .site-footer-owner {
    font-weight: normal;
    font-size: 0.9rem;
  }
  
  .site-footer-credits {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.8rem;
    line-height: 1.5;
    display: block;
    margin: 1rem 0.5rem 1rem 0.5em;
  }
  
  a {
    color: rgba(255, 255, 255, 0.6);
  }
}

.btn#toTop {
  position: fixed;
  bottom: 0;
  right: 20px;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: 1px solid rgba(0,0,0, 0.3);
  color: rgba(0,0,0, 0.6);
  line-height: 0px;
}

@media screen and (max-width: 42em) {
  .site-footer {
    form {
      input, textarea, button {
        width: 90vw;
      }
    }
  }
}
