.grecaptcha-badge {
    z-index: 101;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}

#contact .entry-content {
    width: 34%;
}

#skills .keywords,
#interests .keywords {
    clear: both;
    display: block;
}

#languages .fluency {
    padding-bottom: 0.8em;
}

#work .entry-content,
#references .entry-content {
    width: auto;
}

#references .entry-content {
    margin-top: 2em;
}

.intro-job-title {
    color: $text-color;
    font-weight: 400;
}

#masthead .inner {
    .site-title {
        padding-left: 0;
    }
}

#sidebar {
    overflow: scroll;
    .inner {
        min-height: 600px;
        position: relative;
        overflow: scroll;
        .dark-mode-toggle {
            position: absolute;
            bottom: 2em;
            right: 2em;
            list-style: none;
            padding: 0;
            margin: 0;
            color: $base-color;
            font-size: 1.2em;
            :hover {
                color: $accent-color;
            }
        }
    }
}

.layout--contact {
    #contactWrapper {
        display: flex;
        flex-flow: row;
        padding: 2em 0 4em 0;
        .contactMethod {
            flex: 1 1 auto;
            padding: 0;
            text-align: center;
            margin: 0;
            &:first-child {
              border-right: 1px solid $border-color;
            }
            .title {
                margin-bottom: 0;
            }
            a {
                color: $text-color;
                &:hover {
                    color: $accent-color;
                }
            }
        }
      }
      form {
      input,
      textarea {
        color: $text-color;
        background-color: darken($background-color, 3);
        border-style: hidden;
        border-width: 0;
        border-radius: $border-radius;
        transition: color 0.2s, background-color 0.2s, border-color 0.2s;
        font-weight: 300;
        padding: 1em;
        &:focus,
        &:active {
          outline: none;
        }
        &:hover {
          text-decoration: none;
          background-color: darken($background-color, 6);
        }
        &::placeholder {
          color: transparentize($text-color, 0.4);
        }
        &:focus-visible {
          outline: 0 hidden transparent;
        }
      }
      input {
        width: calc(50% - 1.33vw);
        margin: 0;
        &:first-child {
          margin: 0 2vw 0 0;
        }
      }
      textarea {
        display: block;
        width: 100%;
        margin: 30px 0 30px 0;
      }
      button {
        display: block;
        margin: 0 0 0 auto;
      }
    }
    #googleMap {
      position: relative;
      overflow: hidden;
      height: 20em;
      border-radius: $border-radius;
      margin-top: 45px;
    }
}

.layout--home {
    .initial-content {
        .intro {
            margin-bottom: 0.8em;
            padding-bottom: 0.8em;
            .about-image {
                width: 250px;
                height: 250px;
                margin: 0 auto 0 0;
                display: inline-block;
                box-sizing: border-box;            
                vertical-align: top;
                img {
                    object-fit: cover;
                    border-radius: 50%;
                    display: inline-block;
                }
            }

            .intro-subtitle {
                display: block;
                clear: both;
                margin-top: 1em;
                margin-bottom: 1em;
                color: $text-color;
                font-weight: 200;
            }

            .intro-text {
                display: inline-block;
                margin: 0 0 0 auto;
                vertical-align: top;
                width: calc(100% - 255px);
                box-sizing: border-box;            
                .intro-title {
                    line-height: 0.8;
                    margin-bottom: 0.4em;
                    text-align: right;
                }
                .intro-job-title {
                    margin-bottom: 0.1em;
                    text-align: right;
                }
                .links {
                    text-align: right;
                    display: inline-block;
                    width: 100%;
                    margin: 1em 0;
                }
            
            }
        }
            
        .page-content {
            .entry-content > h4 {
                font-weight: lighter;
            }
            ul {
                h4 {
                    margin-bottom: 0.1em;
                }
                margin-bottom: 2.1em;
                li {
                    margin-bottom: 0.1em;
                }
            }
        }
    }
}

.layout--cv {
    .initial-content {
        .intro {
            .intro-job-title {
                margin-top: 1.5em;
                margin-bottom: 2em;
            }
        }
        .page-content {
            .entries {
                > .summary {
                    font-size: 1.1em;
                    line-height: 1.6;
                    font-weight: 400;
                }
                .entry-content {
                    margin-top: 0;
                    h3.name {
                        margin-top: 2em;
                        font-size: 1.25em;
                    }
                }
            }
        }
    }
}

/*
h1,
h3.entry-title,
h3.name {
        color: $primary-color !important;
}

h2, h3, h4, h5, h6,
blockquote {
    color: $secondary-color !important;
 }
*/

@media (max-width: 24em) {
    .layout--contact {
        #contactWrapper {
          display: block;
          padding: 0 0 3em 0;
          .contactMethod {
              width: 100%;
              padding: 1em 0;
              &:first-child {
                border: none;
              }
              .title {
                  margin-bottom: 0;
              }
          }
        }
    }
}

@media (max-width: 36em) {
    .layout--home {
        .initial-content {
            .intro {
                padding-top: 0;
                margin-top: 0;
                position: relative;
                .about-image {
                    width: 100%;
                    height: auto;
                    margin: 0 auto;
                    text-align: center;
                    img {
                        position: relative;
                        object-fit:fill;
                        border-radius: 0.3em;
                        margin-top: 10em;
                        width: 20em;
                    }
                }
    
                .intro-text {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    .intro-title {
                        text-align: center;
                    }
                    .intro-job-title {
                        text-align: center;
                    }
                    .links {
                        text-align: center;
                        margin: 0.5em 0;
                    }
                }
            }
        }
    }
    .layout--contact {
        input {
          width: 100% !important;
          &:first-child {
            margin: 0 0 2em 0 !important;
          }
        }
        button {
          display: block;
          margin: 0;
          width: 100%;
        }
    }
}

@media (max-width: 48em) {
    #masthead .inner {
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media (min-width: 48em) {
    #masthead .inner {
        padding-left: 2em;
        padding-right: 2em;
    }
    .layout--contact {
          input {
            width: 48.22%;
          }
    }
}


@media (min-width: 64em) {
    #masthead .inner {
        padding-left: 3em;
        padding-right: 3em;
    }
}

@media (min-width: 80em) {
    #masthead .inner {
        padding-left: 4em;
        padding-right: 4em;
    }
}