---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Theme skin
@import "basically-basic/themes/{{ site.data.theme.skin | default: 'default' }}";

@import "basically-basic";

.inner {
    margin-left: auto;
    margin-right: auto;
}

#contact .entry-content {
    width: 34%;
}

#skills .keywords,
#interests .keywords {
    clear: both;
    display: block;
}

#languages .fluency {
    padding-bottom: 0.8em;
}

#work .entry-content,
#references .entry-content {
    width: auto;
    margin-top: 2em;
}

.intro-job-title {
    color: #525559;
    font-weight: 400;
}

#masthead .inner {
    .site-title {
        padding-left: 0;
    }
}

@media (min-width: 20em) {
    #masthead .inner {
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media (min-width: 48em) {
    #masthead .inner {
        padding-left: 2em;
        padding-right: 2em;
    }
}


@media (min-width: 64em) {
    #masthead .inner {
        padding-left: 3em;
        padding-right: 3em;
    }
}

@media (min-width: 80em) {
    #masthead .inner {
        padding-left: 4em;
        padding-right: 4em;
    }
}

.layout--home {
    .initial-content {
        .intro {
            margin-bottom: 0.8em;
            padding-bottom: 0.8em;
            .intro-title,
            .intro-job-title {
                margin-bottom: 0.1em;
            }
            .intro-subtitle {
                margin-top: 1.2em;
                margin-bottom: 1em;
                color: #525559;
                font-weight: 200;
            }
        }
        .page-content {
            .entry-content > h4 {
                font-weight: lighter;
            }
            ul {
                h4 {
                    margin-bottom: 0.1em;
                }
                margin-bottom: 2.1em;
                li {
                    margin-bottom: 0.1em;
                }
            }
        }
    }
}