---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content">
        <p>{{ page.intro }}</p>
        <div id="contactWrapper">
          <div class="contactMethod">
            <p class="title">Email</p>
            <a href="mailto://vicente@opa.so">{{ page.email }}</a>
          </div>
          <div class="contactMethod">
            <p class="title">Phone number</p>
            <a href="tel://+34684005262">{{ page.phone }}</a>
          </div>
        </div>
        {{ content }}
        <form id="contact-form" action="https://formspree.io/f/mvolgybr" method="POST">
            <input type="email" name="email" required placeholder="your@email.com" />
            <input type="phone" name="phone" placeholder="Phone Number" />
            <textarea name="message" required placeholder="Message" ></textarea>
            <input type="hidden" name="domain" value="https://opa.so" />
            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
            <button class="btn" id="my-form-button">Send</button>
            <p id="my-form-status"></p>
        </form>
        <div id="googleMap"></div>
      </div>
    </article>
  </div>
</main>

<script>
  function myMap() {
    var mapProp= {
      center:new google.maps.LatLng(36.580733, -4.542397),
      zoom:10,
      mapId: 'a2f49d11ef112df8'
    };
    var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=${{ secrets.GOOGLE_MAPS_API_KEY }}&callback=myMap"></script>

<script>
  var form = document.getElementById("contact-form");

  async function handleSubmit(event) {
      event.preventDefault();
      grecaptcha.ready(function () {
          grecaptcha.execute('6LcIDdweAAAAADBzIQxefOW89FJVX1Ie3DcFhEEm', {action: 'submit'}).then(function (token) {
              document.getElementById('g-recaptcha-response').value = token;
              var status = document.getElementById("my-form-status");
              var data = new FormData(event.target);
              fetch(event.target.action, {
                  method: form.method,
                  body: data,
                  headers: {
                      'Accept': 'application/json'
                  }
              }).then(response => {
                  if (response.ok) {
                    status.innerHTML = "Thanks for reaching out!";
                    form.reset()
                  } else {
                    response.json().then(data => {
                      if (Object.hasOwn(data, 'errors')) {
                        status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
                      } else {
                        status.innerHTML = "Oops! There was a problem submitting your form"
                      }
                    })
                  }
              }).catch(error => {
                  status.innerHTML = "Oops! There was a problem sending your message. Try contacting me on LinkedIn?"
              });

          });
      });
  }
  form.addEventListener("submit", handleSubmit);
</script>
