---
layout: default
---

{% assign cv = site.data.cv %}

<main id="main" class="page-content" aria-label="Content">
  <div class="index inner">
    <header class="intro">
      <div class="about-image">
        <img id="randomImage" alt="{{ site.author.name }}" />
      </div>
      <div class="intro-text">
        <h1 class="intro-title">{{ site.author.name }}</h1>
        <h2 class="intro-job-title">{{ site.author.tagline }}</h2>
        <span class="links"><a href="{{ site.author.cvLink }}">{{ site.author.cvLinkCopy }}</a> | <a href="{{ site.author.cvDownloadLink }}">{{ site.author.cvDownloadLinkCopy }}</a></span>
      </div>
      <p class="intro-subtitle">{{ site.author.bio }}</p>
    </header>
    <div>{{ content }}</div>

    {% if cv.references %}
    <h2>References</h2>
    <div id="swiffy-slider-wrapper" class="swiffy-slider slider-item-nogap slider-nav-sm slider-nav-outside slider-nav-autoplay slider-nav-autopause slider-indicators-outside" data-slider-nav-autoplay-interval="10000">
      <ul class="slider-container">
        {% for r in cv.references %}
          <li>
            {% if r.reference %}
            <blockquote class="reference">
              {{ r.reference |markdownify }}
              {% if r.name %}
              <p class="name">
                <cite>{{ r.name }}</cite>
              </p>
              {% endif %}
            </blockquote>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
  
      <button type="button" class="slider-nav"></button>
      <button type="button" class="slider-nav slider-nav-next"></button>
  
      <ul id="swiffy-indicators-wrapper" class="slider-indicators">
        {% for r in cv.references %}
        <li></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
</main>

<script>
  function getRandomNumber() {
    return Math.floor(Math.random() * 3) + 1;
  }
  var randomNumber = getRandomNumber();
  var imageName = "/assets/images/portrait_" + (theme || "dark") + "_0" + randomNumber + ".png";
  document.getElementById("randomImage").src = imageName;

  if (theme !== 'dark') {
    document.getElementById("swiffy-slider-wrapper").classList.add("slider-nav-dark");
    document.getElementById("swiffy-indicators-wrapper").classList.add("slider-indicators-dark");
  } else {
    document.getElementById("swiffy-slider-wrapper").classList.remove("slider-nav-dark");
    document.getElementById("swiffy-indicators-wrapper").classList.remove("slider-indicators-dark");
  }
</script>